<div class="uk-section">
    <div class="uk-container{{container}}">
        <div class="uk-child-width-1-{{ columns }}@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h3 class="uk-card-title uk-margin">test title 1</h3>
                    <p>test Item 1</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h3 class="uk-card-title uk-margin">test title 2</h3>
                    <p>test Item 2</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h3 class="uk-card-title uk-margin">test title 3</h3>
                    <p>test Item 3</p>
                </div>
            </div>
        </div>
    </div>
</div>
