<div class="uk-section">
    <div class="uk-container{{container}}">
        <div class="uk-child-width-1-{{ columns }}@m uk-grid-match uk-text-center uk-margin-medium-top" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h1><span class="uk-badge">10%</span></h1>
                    <h2>Avg. reduction in machine downtime</h2>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h1 class="uk-card-title uk-margin">18%</h1>
                    <h2>Avg. reduction in energy consumption</h2>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-box-shadow-medium uk-card-hover uk-card-body uk-inline border-radius-large border-xlight">
                    <a class="uk-position-cover"></a>
                    <h1 class="uk-card-title uk-margin">20%</h1>
                    <h2>Avg. increase in production throughput</H2>
                </div>
            </div>
        </div>
    </div>
</div>
