<div class="uk-container">
<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-text-center" data-uk-grid>
    <div class="uk-card uk-margin-left uk-card-default uk-card-body">
        <p> <h1 style="text-align: center;">10%</h1><h2 style="text-align: center;">Avg. reduction in machine downtime</h2></p>
    </div>
    <div class="uk-card uk-margin-left uk-card-default uk-card-body">
        <p> <h1 style="text-align: center;">18%</h1><h2 style="text-align: center;">Avg. reduction in energy consumption</h2></p>
    </div>
    <div class="uk-card uk-margin-left uk-card-default uk-card-body">
        <p> <h1 style="text-align: center;">20%</h1><h2 style="text-align: center;">Avg. increase in production throughput</h2></p>
    </div>
</div>
</div>
