<div class="uk-container uk-container-medium">
  <div class="uk-child-width-1-3@m uk-grid-match uk-text-center uk-margin-medium-center uk-grid uk-column-divider" data-uk-grid="" style="vertical-align: middle;">
    <div class="uk-first-column">
      <div class="uk-text-center uk-badge">
        <h1>10%</h1>
        <h2>Avg. reduction in machine downtime</h2>
      </div>
    </div>
    <div>
      <div class="uk-text-center">
        <h1>18%</h1>
        <h2>Avg. reduction in energy consumption</h2>
      </div>
    </div>
    <div>
      <div class="uk-text-center">
        <h1>20%</h1>
        <h2>Avg. increase in production throughput</h2>
      </div>
    </div>
  </div>
</div>
