<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://zira.us/assets/js/carousel.js"></script>

<!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"-->
<div class="uk-container uk-container-small">
  <section class="customer-logos slider"> 
    <div class="slide"><img src="/uploads/logos_0011_layer-1.png"></div>
    <div class="slide"><img src="/uploads/logos_0010_layer-2.png"></div>
    <div class="slide"><img src="/uploads/logos_0005_layer-8.png"></div>
    <div class="slide"><img src="/uploads/logos_0006_layer-7.png"></div>
    <div class="slide"><img src="/uploads/logos_0002_layer-11.png"></div>
    <div class="slide"><img src="/uploads/logos_0007_layer-6.png"></div>
    <div class="slide"><img src="/uploads/logos_0001_layer-12.png"></div>
    <div class="slide"><img src="/uploads/logos_0004_layer-10.png"></div>
    <div class="slide"><img src="/uploads/logos_0003_layer-4.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-13.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-21.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-22.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-23.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-24.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-25.png"></div>
    <div class="slide"><img src="/uploads/logos_0000_layer-26.png"></div>    
  </section>
</div>
