<div class="container">
  <section class="customer-logos slider">
    
      
images: 
  - image: /uploads/logos_0011_layer-1.png
  - image: /uploads/logos_0010_layer-2.png
  - image: /uploads/logos_0005_layer-8.png
  - image: /uploads/logos_0006_layer-7.png
  - image: /uploads/logos_0002_layer-11.png
  - image: /uploads/logos_0007_layer-6.png
  - image: /uploads/logos_0001_layer-12.png
  - image: /uploads/logos_0004_layer-10.png
    
    <div class="slide"><img src="/uploads/logos_0011_layer-1.png"></div>
    <div class="slide"><img src="/uploads/logos_0010_layer-2.png"></div>
    <div class="slide"><img src="/uploads/logos_0005_layer-8.png"></div>
    <div class="slide"><img src="/uploads/logos_0006_layer-7.png"></div>
    <div class="slide"><img src="/uploads/logos_0002_layer-11.png"></div>
    <div class="slide"><img src="/uploads/logos_0007_layer-6.png"></div>
    <div class="slide"><img src="/uploads/logos_0001_layer-12.png"></div>
    <div class="slide"><img src="/uploads/logos_0004_layer-10.png"></div>
  </section>
</div>
