<div class="uk-section section-team">
    <div class="uk-container uk-container-expand">

        {% if include.title %}
            <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
        {% endif %}

        {% if include.subtitle %}<p class="uk-text-lead uk-text-center">{{ include.subtitle | escape }}</p>{% endif %}

            <div class="uk-margin-medium-top uk-grid-small uk-flex-center uk-text-center uk-grid" data-uk-grid="">
            <div class="uk-first-column">
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/logos_0008_layer-5.png" alt="Groupo Bimbo">
                </div>
            </div>
            <div>
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/avatar-john.png" alt="John Brown">                    
                    <h5 class="uk-margin-remove-bottom uk-margin-top">John Brown</h5>
                    <p class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top">Support</p>
                </div>
            </div>
            <div>
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/avatar-sara.png" alt="Sara Galen">
                    <h5 class="uk-margin-remove-bottom uk-margin-top">Sara Galen</h5>
                    <p class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top">Lead Developer</p>
                </div>
            </div>
            <div>
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/avatar-alex.png" alt="Alex Koch">
                    <h5 class="uk-margin-remove-bottom uk-margin-top">Alex Koch</h5>
                    <p class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top">Design Engineer</p>
                </div>
            </div>
            <div>
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/avatar-tom.png" alt="Tom Farrell">                    
                    <h5 class="uk-margin-remove-bottom uk-margin-top">Tom Farrell</h5>
                    <p class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top">Developer</p>
                </div>
            </div>
            <div>
                <div class="uk-card">
                        <img class="uk-border-circle" src="/uploads/avatar-daniel.png" alt="Daniel Shultz">
                    <h5 class="uk-margin-remove-bottom uk-margin-top">Daniel Shultz</h5>
                    <p class="uk-article-meta uk-margin-remove-bottom uk-margin-small-top">Developer</p>
                </div>
            </div>
        </div>
    </div>
</div>
