<div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-secondery uk-card-body uk-width-1-1@m">
        <div class="uk-grid-large uk-child-width-expand@s uk-grid-match" uk-grid>
            <div>
                <h2 style="margin: 0 0 0 0; text-decoration: underline;">FEED</h2>
                <h1 style="margin: 5px 0 0 0;">Bring your business together</h1>
                <h4 style="margin: 10px 0 0 0;">People can collaborate over data from machines and human operations that are posted live in one central feed.</h4>
            </div>
            <div class="uk-align-right">
                <span uk-icon="icon: social; ratio: 15"></span>
            </div>
        </div>
      </div>
  </div>
</div>
