<div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-primary uk-card-body uk-width-1-1@m">
        <div class="uk-grid-large uk-grid-match" uk-grid>
            <div>
               <div>
                <h1>Manufacturing just changed.</h1>
                <h3>I didn’t believe it either (until I saw it)</h3>
               </div>
            </div>
            <div class="uk-align-center">
                <div class="uk-text-center">
                    <img src="/uploads/just_changed.svg" style="width: 50%; height: 50%">
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
