<div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m uk-box-shadow-bottom">
        <div class="uk-grid-large uk-grid-match" uk-grid>
            <div>
               <div class="uk-container uk-align-center">
                <h1 style="margin: 0;">Manufacturing just changed.</h1>
                <h3 style="margin: 0;">I didn’t believe it either (until I saw it)</h3>
                <a class="uk-button uk-button-default uk-button-xlarge uk-text-large uk-text-bold uk-margin-medium-top" href="https://zira.us/contact">Want to see it yourself?</a>
               </div>
            </div>
            <div class="uk-align-center">
                <div class="uk-text-center">
                    <img src="/uploads/just_changed.svg" style="width: 90%; height: 90%">
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
