<div class="uk-section">
    <div class="uk-container-large uk-align-center">
        {% if include.title %}
            <h1 class="uk-text-center" style="padding: 0 0 60px 0;">{{ include.title }}</h1>
        {% endif %}
        {% if include.subtitle %}<p class="uk-text-lead uk-text-center" style="padding: 0 0 60px 0;">{{ include.subtitle | escape }}</p>{% endif %}
        <div class="uk-container-small uk-align-center">
            <div class="uk-card uk-card-primary uk-card-body border-radius-large border-xlight">
                <h1 class="uk-text-center">Collaborative growth is a new way to interact with machines and business processes based on real time data rather than assumptions.</h1>
                <p class="uk-text-center">We have created the collaborative growth platform for you.</p>
            </div>
            <div>
                <img src="/uploads/arrows.svg">
            </div>
        </div>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                     <span data-uk-icon="icon: cog; ratio: 5" class=""></span>
                    <h3 class="uk-card-title">Connected Machines</h3>
                    <p>Understand real-time and historic machine status.  Discover risks and identify downtime signals before it’s too late. Adjust your machines for success and make every minute count.
        </p>
                </div>
            </div>
              <div>
                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                    <span data-uk-icon="icon: users; ratio: 5" class=""></span>
                    <h3 class="uk-card-title">Connected Workforce</h3>
                    <p>Share, communicate, and collaborate with ease.  Triggers and AI engage relevant team members and launch your operations into the productivity stratosphere.
        </p>
                </div>
            </div>
              <div>
                <div class="uk-card uk-card-default uk-card-body uk-text-center">
                    <span data-uk-icon="icon: git-fork; ratio: 5" class=""></span>
                    <h3 class="uk-card-title">Connected Processes</h3>
                    <p>AI generated corrective actions solve problems faster and increase productivity.  Zira lets you automate repetitive tasks and processes, improving organizational responsiveness, productivity, and profitability.

        </p>
                </div>
            </div>
        </div>
    </div>
</div>
