<div class="uk-section uk-section-small">
        <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; delay: 600;">        
                <div class="uk-container uk-container-large">
                        <h2 class="uk-h1 uk-text-center">Want to set a specific demo?</h2>
                        <h2 class="uk-h2 uk-text-center uk-margin-remove">Connect with us and we run a live demo with you.</h2>       
                        <div style="text-align: center;">
                        <a class="uk-button uk-button-primary uk-button-xlarge uk-text-large uk-text-bold uk-margin-medium-top" href="https://zira.us/contact">Get connected</a>
                        </div>
                </div>
        </div>
</div>
