


<div class="uk-section">
    <div class="uk-container{{container}}">
        {% if include.title %}
            <h2 class="uk-h1 uk-text-center">{{ include.title }}</h2>
        {% endif %}
        {% if include.subtitle %}<p class="uk-text-lead uk-text-center">{{ include.subtitle | escape }}</p>{% endif %}
    </div>
    <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h2>FEED</h2>
                <h1>Bring your business together</h1>
                <h4>People can collaborate over data from machines and human operations that are posted live in one central feed.</h4>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body"><span uk-icon="icon: social; ratio: 4"></span></div>
        </div>
    </div>
    <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body"><span uk-icon="icon: social; ratio: 4"></span></div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h2>CHANNELS</h2>
                <h1>Keep work organized</h1>
                <h4>They can represent a machine, team, or anything you like.  If a post, trigger, task, or question has to do with a machine or team, you will find it in the channel.</h4>
            </div>
        </div>
    </div>
    <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h2>SEARCH</h2>
                <h1>No data scientist required</h1>
                <h4>Search for data, insights, and tasks like you are searching for something on google. No data degree necessary.</h4>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body"><span uk-icon="icon: social; ratio: 4"></span></div>
        </div>
    </div>
</div>
