######FEED
#Bring your business together
People can collaborate over data from machines and human operations that are posted live in one central feed.
######CHANNELS
#Keep work organized
They can represent a machine, team, or anything you like.  If a post, trigger, task, or question has to do with a machine or team, you will find it in the channel.
######SEARCH
#No data scientist required
Search for data, insights, and tasks like you are searching for something on google. No data degree necessary.

