<h5>FEED</h5>
<h1>Bring your business together</h1>
<p>People can collaborate over data from machines and human operations that are posted live in one central feed.</p>
<h5>CHANNELS</h5>
<h1>Keep work organized</h1>
<p>They can represent a machine, team, or anything you like.  If a post, trigger, task, or question has to do with a machine or team, you will find it in the channel.</p>
<h5>SEARCH</h5>
<h1>No data scientist required</h1>
<p>Search for data, insights, and tasks like you are searching for something on google. No data degree necessary.</p>

